<!DOCTYPE html>
<html>
<head>
  <title>CrujCrujCruj</title>
  <%= stylesheet_link_tag    "cruj_cruj_cruj/application", media: "all" %>
  <%= javascript_include_tag "cruj_cruj_cruj/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
